.message-box {
  display: flex;
  margin-bottom: 0.5rem;
}
.message-box.self {
  flex-direction: row-reverse;
}
.message-box.other {
  flex-direction: row;
}
.message-box .message {
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  color: black;
}
.message-box.self .message {
  background-color: pink;
}
.message-box.other .message {
  background-color: violet;
}
